<html lang="en" ng-app="msamentorshipApp">

    <head>
        <meta charset="utf-8">
        <title>MSA Mentorship</title>
        <link rel="stylesheet" href="assets/css/style.css">
    </head>

    <body ng-view>

    </body>

    <!-- vendor -->
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-route.min.js"></script>

    <!-- angular files -->
    <script src="/msamentorshipApp.js"></script>
    <script src="/controllers/splashController.js"></script>
    <script src="/controllers/signinController.js"></script>

</html>
