<html lang="en" ng-app="msamentorshipApp">
    
    <head>
        <meta charset="utf-8">
        <title>MSA Mentorship</title>        
    </head>
    
    <body>
      
      <div id="page-content" class="fill">
        <div ng-view></div>
      </div>

    </body>

    <script src="/assets/js/vendor/angular.min.js"></script>
    <script src="/assets/js/vendor/angular-route.min.js"></script>
    <script src="/msamentorshipApp.js"></script>
    <script src="/services/DataService.js"></script>

</html>