<html lang="en" ng-app="msamentorshipApp">

    <head>
        <meta charset="utf-8">
        <title>MSA Mentorship</title>

        <!-- stylesheets -->
        <link rel="stylesheet" href="assets/css/materialize.css">
        <link rel="stylesheet" href="assets/css/style.css">

    </head>

    <!-- view -->
    <body>
        <div ng-view></div>
    </body>

    <!-- vendor -->
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-route.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/materialize.js"></script>

    <!-- angular files -->
    <script src="/msamentorship-app.js"></script>
    <script src="/controllers/splash-controller.js"></script>
    <script src="/controllers/signin-controller.js"></script>
    <script src="/controllers/clicker-controller.js"></script>

</html>
